.introSection {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    // margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
  }
}

.sliderSection {
  padding: 1rem;
  text-align: center;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .slider-container {
    max-width: 800px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.techStack {
  text-align: center;
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  .stackIcons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.footer {
  background: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}
