.wrapper {
  background: white;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .heading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -1rem;
    }

    .githubLink {
      text-decoration: underline;
      color: orange;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      &:hover {
        color: #007acc;
      }
    }
  }

  .techStack {
    padding: 4rem 2rem;
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;

    h2 {
      display: none;
    }
  }

  .stackIcons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 0;
  margin-top: -1%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
}
